footer{

	height: 60px;
	background: black;
	font-family: $main-font;
	color:#457086;

}


#footer-text{
	margin-top: 20px;
	float:left;
}

#footer-bild{
	margin-top: 20px;
	float:right;
}

#footer-bild p{
	margin-right: 5px;
	float:left;
}